.card {
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  background-color: var(--color-bg);
  margin-bottom: 20px;
}

.left-side {
  /* position: relative; */
}

.upp-row,
.left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.left-side > img {
  width: 20px;
  height: 20px;
}

menu {
  line-height: 0px;
  position: relative;
  top: -14px;
  font-size: 45px;
  right: 0;
  color: var(--color-primary);
}

.popup {
  width: 200px;
  top: 10px;
  left: 25px;
  color: var(--color-gray-700);
}

.popup > p {
  border-bottom: 0.1px solid var(--color-gray-300);
  padding-bottom: 5px;
  font-size: medium;
  font-weight: 600;
  margin-bottom: 7px;
  color: var(--color-gary-900);
}

.card > p {
  padding-left: 31px;
  color: var(--color-gray-600);
}

.servives-container {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}

.user-initials {
  background-color: var(--color-white-smoke);
  color: var(--color-gray-600);
  padding: 4px 7px 6px;
  border-radius: 50%;
  font-size: small;
}

.row {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.row > img {
  width: 18px;
  height: 18px;
  filter: opacity(.7);
}

.row > a {
  text-decoration: none;
  color: var(--color-gray-600);
}