:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  background-color: #f8f8f8;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  padding-bottom: 80px;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: 600;
  border-bottom: 1px solid rgba(197, 197, 197, 0.473);
  font-size: large;
}
nav > h1 {
  font-weight: 600;
}

nav #twitter-logo:hover,
nav #youtube-logo:hover {
  opacity: 0.8;
}

.search {
  display: flex;
  margin: 15px 0;
  gap: 6px;
  width: 250px;
  padding: 5px 10px;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.37);
  box-shadow: 0 2px 5px rgba(128, 128, 128, 0.37);
}

.search > img,
.custom-field > img {
  width: 15px;
  height: 15px;
  filter: brightness(0.1);
}

input[type="search"] {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
  width: 100%;
  background-color: inherit;
  font-size: medium;
}

input[type="search"]:active {
  border: none;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  background: white;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: end;
  border-top: 1px solid var(--color-gray-400);
  gap: 16px;
}

footer > button {
  background-color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
}
