<div id="root">
  <nav class="toolbar">
    <h1>{{ paths[currentLocation]?.header }}</h1>
  </nav>

  <div class="content" role="main">
    <router-outlet></router-outlet>

    <footer>
      <button *ngIf="currentLocation !== '/'" mat-raised-button>
        <a routerLink="/" style="color: var(--color-primary)">Annulla</a>
      </button>
      <button
        mat-raised-button
        style="background-color: var(--color-primary)"
        (click)="saveGroup()"
      >
        <a
          routerLink="{{ paths[currentLocation]?.goTo }}"
          style="color: white"
          >{{ paths[currentLocation]?.footer }}</a
        >
      </button>
    </footer>
  </div>
</div>
